doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Service to group up gamers')
    meta(name='author', content='Mukhtar Musaev')
    link(rel='icon', href='/img/favicon.ico')
    title Vorter
    // Bootstrap core CSS
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // Custom styles for this template
    link(rel='stylesheet' href='/css/authstyle.css')
  body.text-center
    .container
      block content
      footer
        p.mt-2.mb-2.text-muted &copy; Vorter 2018
