doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Service to group up gamers')
    meta(name='author', content='Mukhtar Musaev')
    link(rel='icon', href='/img/favicon.ico')
    title Vorter
    // Bootstrap core CSS
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // Custom styles for this template
    link(rel='stylesheet' href='/css/authstyle.css')
  body.text-center
    .container
      form.form-signin(method='POST', action='/users/login')
        img.mb-4.rotating(id='logo', src='/img/logo.png', alt='', width='200', height='200')
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        label.sr-only(for='inputEmail') Email address
        input#email.form-control(name='email', type='text', placeholder='Email address', required='', autofocus='')
        label.sr-only(for='inputPassword') Password
        input#password.form-control(name='password', type='password', placeholder='Password', required='')
        .checkbox.mb-3.logintext
            input#remember(name='remember', type='checkbox', value='remember')
            |  Remember me
        button.btn.btn-lg.btn-danger.btn-block(type='submit', value='Submit') Login
        a.nav-link.logintext(href='/users/register') Create an account.
      footer
        p.mt-2.mb-2.text-muted &copy; Vorter 2018
  script(src='/js/main.js')


