extends layout

block content
  .searchParam
    input#game.form-control(name='game', type='text', placeholder='Game', autofocus='')
    input#purpose.form-control(name='purpose', type='text', placeholder='Purpose', autofocus='')
    input#time.form-control(name='time', type='text', placeholder='Time', autofocus='')
    input#country.form-control(name='country', type='country', placeholder='Country')
    input#groupSize.form-control(name='groupSize', type='groupSize', placeholder='Group size')
    a#searchStart.btn.btn-lg.btn-danger.btn-block.disabled(type='submit', value='SearchStart') Search
    a#searchStop.btn.btn-lg.btn-danger.btn-block.d-none(type='submit', value='SearchCancel') Cancel
  .background.text-center
    br
    a.gameLink(href='#')
      img#dota2.block(src='/img/dota2.jpg', alt='Dota2')
    a.gameLink(href='#')
      img#csgo.block(src='/img/cs_go.jpg', alt='CS GO')
    a.gameLink(href='#')
      img#lol.block(src='/img/league_of_legends.jpg', alt='LOL')
    a.gameLink(href='#')
      img#pubg.block(src='/img/pubg.jpg', alt='PUBG')
    a.gameLink(href='#')
      img#fortnite.block(src='/img/fortnite.jpg', alt='Fortnite')
