doctype html
html
  head
    title Vorter
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/search.css')
    link(rel='icon', href='/img/favicon.ico')
    meta(name='description', content='Vorter is a service to group up and cooperate gamers')
  body
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      div.logocontainer
        a.mt-1.navbar-brand.logotype.h1(href='/') V
          img.rotating(src='/img/favicon.ico')
        a.navbar-brand.logotype.h1(href='/') RTER
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.h6
          if user
            li.nav-item
              strong
                a.nav-link(href='/profile')
                  u #{nickname}
        ul.navbar-nav.navbar-right
          li.nav-item.mr-3
            |Local time:
            .localTime
          li.nav-item.mr-3
            |Timezone:
            .timeZone
          li.nav-item
            a.nav-link(href='/faq') FAQ
          li.nav-item
            a.nav-link(href='/about') About
          if user
            li.nav-item
              a.nav-link.font-weight-bold(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
    .container
      .searchParam
        .searchParam-wrap
          input#game.form-control(name='game', type='text', placeholder='Game', autofocus='')
          #time-range
            p
              | Time Range: 
              span.slider-time 10:00 AM
              |  - 
              span.slider-time2 12:00 PM
            .sliders_step1
              #slider-range
          select#groupSize.form-control
            option 2
            option 3
            option 4
            option 5
          a#searchStart.btn.btn-lg.btn-danger.btn-block(type='submit', value='SearchStart') Search
          a#searchStop.btn.btn-lg.btn-primary.btn-block.d-none(type='submit', value='SearchCancel') Cancel
      .background.text-center
        br
        a.gameLink(href='#')
          img#dota2.block(src='/img/dota2.jpg', alt='Dota2')
        a.gameLink(href='#')
          img#csgo.block(src='/img/cs_go.jpg', alt='CS GO')
        a.gameLink(href='#')
          img#lol.block(src='/img/league_of_legends.jpg', alt='LOL')
        a.gameLink(href='#')
          img#pubg.block(src='/img/pubg.jpg', alt='PUBG')
        a.gameLink(href='#')
          img#fortnite.block(src='/img/fortnite.jpg', alt='Fortnite')


    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/jquery-ui/jquery-ui.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
    script(src='/js/search.js')
