doctype html
html
  head
    title Vorter
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/search.css')
    link(rel='icon', href='/img/favicon.ico')
    meta(name='description', content='Vorter is a service to group up and cooperate gamers')
  body
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      div.logocontainer
        a.mt-1.navbar-brand.logotype.h1(href='/') V
          img.rotating(src='/img/favicon.ico')
        a.navbar-brand.logotype.h1(href='/') RTER
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.h6
          if user
            li.nav-item
              strong
                a.nav-link(href='/profile')
                  u #{user.nickname}
        ul.navbar-nav.navbar-right
          li.nav-item.mr-3
            |Local time:
            .localTime
          li.nav-item.mr-3
            |Timezone:
            .timeZone #{user.timezone}
          li.nav-item
            a.nav-link(href='/faq') FAQ
          li.nav-item
            a.nav-link(href='/about') About
          if user
            li.nav-item
              a.nav-link.font-weight-bold(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
    .container
      .searchParam
        .searchParam-wrap
          form(id='submitForm', method='POST', action='/searchStart')
            input#game.form-control(name='game', type='text', placeholder='Game', value=user.game)
            #time-range
              | Time range: 
              input#timefrom.slider-time.form-control(name='timefrom', type='text', placeholder='Time from', value= user.timefrom) 
              |  - 
              input#timeto.slider-time2.form-control(name='timeto', type='text', placeholder='Time to', value= user.timeto) 
              .sliders_step1
                #slider-range
            br
            | Group size: 
            select#groupsize.form-control(name='groupsize', type='text')
              option(value='2' selected= user.groupsize=='2') 2
              option(value='3' selected= user.groupsize=='3') 3
              option(value='4' selected= user.groupsize=='4') 4
              option(value='5' selected= user.groupsize=='5') 5
            br
            if user.searching=='0'
              button#searchStart.btn.btn-lg.btn-danger.btn-block(type='submit', value='Start') Search
            if user.searching=='1'
              button#searchStart.btn.btn-lg.btn-danger.btn-block.d-none(type='submit', value='Start') Search
          form(id='cancelForm', method='POST', action='/searchStop')
            if user.searching=='0'
              button#searchStop.btn.btn-lg.btn-primary.btn-block.d-none(type='submit', value='Cancel') Cancel
            if user.searching=='1'
              button#searchStop.btn.btn-lg.btn-primary.btn-block(type='submit', value='Cancel') Cancel
      .background.text-center
        br
        a.gameLink(href='#')
          img#dota2.game.block(src='/img/dota2.jpg', alt='Dota2')
        a.gameLink(href='#')
          img#csgo.game.block(src='/img/cs_go.jpg', alt='CS GO')
        a.gameLink(href='#')
          img#lol.game.block(src='/img/league_of_legends.jpg', alt='LOL')
        a.gameLink(href='#')
          img#pubg.game.block(src='/img/pubg.jpg', alt='PUBG')
        a.gameLink(href='#')
          img#fortnite.game.block(src='/img/fortnite.jpg', alt='Fortnite')


    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/jquery-ui/jquery-ui.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
    script(src='/js/search.js')
    script(src='/js/timer.js')
    script(src='/js/slider.js')
