.form-control {
    display: block;
    /*width: 300px;*/ 
}
.btn {
    position: relative;
    display: inline-block;
    width: 120px; 
    font-size: 14px;
}

.btn-block + .btn-block {
    margin: 0 !important;
}

.container {
    text-align: center;
    width: 500px;
  }

#profileCancel { 
    background-color: #1458a7;
    border-color: #1458a7;
    position: relative;
    /*left: 60px;*/
} 

.profileData {
    position: relative;
  /*  left: 25%;*/
    margin: 50px 0 0 0;
}

#submitForm {
    text-align: center; 
}

#profileSave {
    text-align: center;
}

#cancelForm {
    text-align: right;
}

.profileInformation {
    text-align: left;
}

#nickname {
    width: 300px;
}
.nickname {
    padding: 15px 0 0 0;
}

.avatar {
    float: left;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: 30px;
    font-size: 12px;
    margin-bottom: 3px;
  }
.form-control:focus {
    z-index: 2;
  }

 select.form-control:not([size]):not([multiple]) {
    height: 30px;
    padding: 0.2rem 0.5rem;;
}