body {
  /*position: fixed;*/
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
}

.searchParam-wrap {
  margin: 15px 15px 0px 15px;
}

.searchParam {
  background: #ddd;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}

.background {
  height: 100%;
}

.block {
  border-radius:20px;
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 150px;
}

.btn {
  margin: none;
  padding: none;
}
.btn-block + .btn-block {
    margin: 0 !important;
}
